<!-- <div [@fadeInSequence]="animationState" class="center">
  <span *ngFor="let word of words" class="word">{{ word }}</span>
</div> -->
<div class="container">
  <div class="left-section" *ngIf="true" @downSlide>
    <h1>
      MALLELA MANISH
    </h1>
    <!-- <p>Software Engineer | Full Stack Developer</p> -->
    <div class="title-container">
      <p>
        <span>Software Engineer | </span>
        <span [ngClass]="{ animate: animate }">{{ currentTitle }}</span>
      </p>
    </div>
    <a href="#" class="button">GET IN TOUCH</a>
  </div>
  <div class="right-section" *ngIf="true" @downSlide>
    <img src="assets/images/profile-.jpg" alt="Profile Image">
  </div>
</div>