<!DOCTYPE html>
<html>

<head>
  <title>My Profile 2</title>
</head>

<body>
  <h1>My Profile</h1>
  <app-side-nav></app-side-nav>
  <a href="profile.html">My profile</a>
  <h2>Description:</h2>
  <p>I am passioned developer
    I am ok How are you
    Okslm
    klslklakmk
  </p>

  <img src="C:\Users\malle\Downloads\3274502508.png" alt="My profile" height="100px" width="100px">
  <h2>My Skills</h2>
  <ul>
    <li>Java</li>
    <li>Angular</li>
    <li>Node.js</li>
    <li>AWS</li>
  </ul>
  <h2>Education:</h2>
  <ol>
    <li>SSC</li>
    <li>Intermediate</li>
    <li>B.tech or Degree</li>
  </ol>

</body>

</html>